[submodule "jac/jaclang/vendor/typeshed"]
	path = jac/jaclang/vendor/typeshed
	url = https://github.com/python/typeshed
[submodule "benchmarking"]
	path = benchmarking
	url = https://github.com/cse584-W26/benchmarking
